name: Terraform Deployment
on: push
jobs:
  deploy:
     env:
       AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
       AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}"
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checout@v4
      - name: Set up Terraform
        uses: harhicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
      - name: Terraform Init, Plan
        run:  |
         terraform init
         terraform plan
     - name: Terraform apply
        run: terraform apply --auto-approve
